numpy
openai
groq
gradio
python-dotenv
--extra-index-url https://pytorch.org
torch
transformers
bs4
sumy
requests
beautifulsoup4
langchain
langchain-openai
langchain-core
langchain-groq
langchain-chroma
langchain-huggingface
langchain-community
langchain-google-genai
pypdf
sentence-transformers

strands-agents
strands-agents-tools
boto3